@inject IAuthenticationManager AuthenticationManager
@inject IAuthorizationManager AuthorizationManager
@using SLVS.Security.Manager.Authentication
@using SLVS.Security.Manager.Authorization
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Admin dashboard</h2>
<p>Welkom @AuthenticationManager.GetUser().Lettercode</p>

@if (AuthorizationManager.IsAuthorized("test_permission"))
{
    <h1>Deze mag alleen jij zien!</h1>
}